@page "/data-binding"

<div sytle="padding-bottom: 60px">
    <Interpolacao/>
</div>

 <div sytle="padding-bottom: 60px">
    <OneWayBinding/>
</div>

<div sytle="padding-bottom: 60px">
    <EventBinding/>
</div>

<div sytle="padding-bottom: 60px">
    <TwoWayBinding/>
</div> 